body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u26201 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:593px;
  width:374px;
  height:1px;
}
#u26202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26203_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:369px;
  height:12px;
}
#u26203 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:633px;
  width:358px;
  height:1px;
}
#u26203_img.selected {
  left:-10px;
  top:-8px;
  width:379px;
  height:22px;
}
#u26203.selected {
}
#u26204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26205 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:604px;
  width:122px;
  height:25px;
}
#u26205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26206 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:603px;
  width:20px;
  height:20px;
}
#u26207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:47px;
  background:inherit;
  background-color:rgba(76, 89, 248, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26210 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:77px;
  width:217px;
  height:47px;
}
#u26211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:129px;
}
#u26212 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:37px;
  width:44px;
  height:129px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u26214 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:85px;
  width:193px;
  height:27px;
  font-size:12px;
  color:#FFFFFF;
}
#u26215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u26216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u26216 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:52px;
  width:32px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u26217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u26218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u26218 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:80px;
  width:43px;
  height:43px;
  text-align:left;
}
#u26219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u26221 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:175px;
  width:43px;
  height:43px;
}
#u26222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:38px;
  background:inherit;
  background-color:rgba(76, 89, 248, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26224 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:175px;
  width:217px;
  height:38px;
}
#u26225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:133px;
}
#u26226 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:127px;
  width:36px;
  height:133px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u26227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u26228 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:186px;
  width:133px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u26229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u26230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u26230 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:150px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u26231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:40px;
}
#u26233 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:382px;
  height:40px;
  text-align:left;
}
#u26234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u26235 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:9px;
  width:30px;
  height:20px;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u26236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u26237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26238_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:5px;
}
#u26238 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:19px;
  width:21px;
  height:2px;
}
#u26239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26240_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:15px;
}
#u26240 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:10px;
  width:2px;
  height:12px;
  -webkit-transform:rotate(47deg);
  -moz-transform:rotate(47deg);
  -ms-transform:rotate(47deg);
  transform:rotate(47deg);
}
#u26241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26242_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:15px;
}
#u26242 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:2px;
  height:12px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u26243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
