body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8460 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:386px;
  height:642px;
}
#u8460_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:642px;
  overflow:hidden;
}
#u8461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8462 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:378px;
  height:63px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:374px;
  word-wrap:break-word;
}
#u8464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u8464 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:61px;
  width:393px;
  height:1px;
}
#u8465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8466 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:22px;
  width:1px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u8468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u8468 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:361px;
  height:1px;
}
#u8469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8470_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:25px;
  height:5px;
}
#u8470 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:34px;
  width:22px;
  height:2px;
}
#u8471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8472_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:5px;
}
#u8472 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:39px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u8473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8474_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:5px;
}
#u8474 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:29px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u8475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8476 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:21px;
  width:30px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
