body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u21863 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:311px;
  width:282px;
  height:1px;
  font-size:14px;
}
#u21863_img.selected {
}
#u21863.selected {
}
#u21864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21865 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:234px;
  width:282px;
  height:25px;
}
#u21865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:25px;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21866 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:237px;
  width:30px;
  height:18px;
  color:#666666;
}
#u21867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:182px;
}
#u21869 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:31px;
  width:335px;
  height:182px;
}
#u21870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:83px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:182px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21871 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:31px;
  width:335px;
  height:182px;
}
#u21872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:83px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21873 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:84px;
  width:169px;
  height:34px;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u21875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.87843137254902);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u21876 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:179px;
  width:228px;
  height:58px;
  font-size:14px;
}
#u21877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:224px;
  word-wrap:break-word;
}
#u21878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21879 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:388px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:384px;
  word-wrap:break-word;
}
#u21881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21881 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:3px;
  width:24px;
  height:24px;
}
#u21882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u21883 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:5px;
  width:30px;
  height:18px;
  color:#4C59F8;
}
#u21884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u21885 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:30px;
  width:375px;
  height:1px;
}
#u21886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u21888 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:432px;
  width:282px;
  height:1px;
  font-size:14px;
}
#u21888_img.selected {
}
#u21888.selected {
}
#u21889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21890 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:343px;
  width:30px;
  height:18px;
  color:#666666;
}
#u21891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u21892 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:343px;
  width:67px;
  height:55px;
}
#u21893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
