body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u22187 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:484px;
  width:59px;
  height:18px;
  color:#666666;
}
#u22188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u22189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u22189 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:520px;
  width:288px;
  height:1px;
}
#u22190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u22191 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:486px;
  width:8px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u22192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:64px;
}
#u22193 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:447px;
  width:96px;
  height:64px;
}
#u22194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22195 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:437px;
  width:358px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u22197 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:436px;
  width:288px;
  height:1px;
}
#u22198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u22199 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:406px;
  width:325px;
  height:18px;
  color:#666666;
}
#u22200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u22201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u22201 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:407px;
  width:8px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u22202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22203 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:385px;
  width:358px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22205 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:336px;
  width:282px;
  height:25px;
}
#u22205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:25px;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u22206 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:339px;
  width:30px;
  height:18px;
  color:#666666;
}
#u22207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u22208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u22208 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:385px;
  width:282px;
  height:1px;
  font-size:14px;
}
#u22208_img.selected {
}
#u22208.selected {
}
#u22209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u22211 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:320px;
  width:282px;
  height:1px;
  font-size:14px;
}
#u22211_img.selected {
}
#u22211.selected {
}
#u22212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22213 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:261px;
  width:275px;
  height:25px;
}
#u22213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:25px;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u22214 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:262px;
  width:30px;
  height:18px;
  color:#666666;
}
#u22215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u22216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:184px;
}
#u22217 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:54px;
  width:335px;
  height:184px;
}
#u22218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:182px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22219 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:55px;
  width:335px;
  height:182px;
}
#u22220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:83px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u22221 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:108px;
  width:225px;
  height:34px;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u22222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u22223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.87843137254902);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22224 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:203px;
  width:228px;
  height:58px;
  font-size:14px;
}
#u22225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:224px;
  word-wrap:break-word;
}
#u22226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22227 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:388px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:384px;
  word-wrap:break-word;
}
#u22229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u22229 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:32px;
  width:393px;
  height:1px;
}
#u22230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22231 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:3px;
  width:24px;
  height:24px;
}
#u22232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u22233 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:5px;
  width:30px;
  height:18px;
  color:#4C59F8;
}
#u22234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
