body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:773px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:28px;
  height:773px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:378px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:0px;
  width:373px;
  height:107px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:773px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:0px;
  width:29px;
  height:773px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:378px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:107px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:773px;
  width:430px;
  height:107px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:107px;
  width:377px;
  height:24px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:114px;
  width:29px;
  height:12px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:112px;
  width:51px;
  height:18px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:113px;
  width:31px;
  height:14px;
  font-size:12px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:111px;
  width:59px;
  height:18px;
  font-size:14px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:111px;
  width:17px;
  height:14px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:131px;
  width:377px;
  height:642px;
}
#u93_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:642px;
  overflow:hidden;
}
