body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u21825 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:296px;
  width:282px;
  height:1px;
  font-size:14px;
}
#u21825_img.selected {
}
#u21825.selected {
}
#u21826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21827 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:237px;
  width:275px;
  height:25px;
}
#u21827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:25px;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21828 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:238px;
  width:30px;
  height:18px;
  color:#666666;
}
#u21829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u21831 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:376px;
  width:282px;
  height:1px;
  font-size:14px;
}
#u21831_img.selected {
}
#u21831.selected {
}
#u21832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21833 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:312px;
  width:282px;
  height:25px;
}
#u21833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:25px;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21834 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:315px;
  width:30px;
  height:18px;
  color:#666666;
}
#u21835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:182px;
}
#u21837 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:31px;
  width:335px;
  height:182px;
}
#u21838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:83px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:182px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21839 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:31px;
  width:335px;
  height:182px;
}
#u21840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:83px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21841 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:84px;
  width:169px;
  height:34px;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u21843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.87843137254902);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u21844 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:179px;
  width:228px;
  height:58px;
  font-size:14px;
}
#u21845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:224px;
  word-wrap:break-word;
}
#u21846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21847 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:388px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:384px;
  word-wrap:break-word;
}
#u21849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21849 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:3px;
  width:24px;
  height:24px;
}
#u21850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4C59F8;
}
#u21851 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:5px;
  width:30px;
  height:18px;
  color:#4C59F8;
}
#u21852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u21853 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:30px;
  width:375px;
  height:1px;
}
#u21854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u21856 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:489px;
  width:282px;
  height:1px;
  font-size:14px;
}
#u21856_img.selected {
}
#u21856.selected {
}
#u21857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21858 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:400px;
  width:30px;
  height:18px;
  color:#666666;
}
#u21859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u21860 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:400px;
  width:67px;
  height:55px;
}
#u21861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
