body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:375px;
  height:610px;
  overflow:hidden;
}
#u12781_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:610px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12781_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:645px;
  overflow:hidden;
}
#u12782_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:645px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12782_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u12783 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:192px;
  width:119px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u12784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u12785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12785 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:227px;
  width:54px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u12787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12787 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:227px;
  width:44px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u12789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12789 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:227px;
  width:54px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u12791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12791 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:227px;
  width:54px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u12793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12794 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:328px;
  width:15px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#3399FF;
}
#u12796 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:328px;
  width:46px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#3399FF;
}
#u12797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u12798 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:328px;
  width:81px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12800 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:190px;
  width:110px;
  height:24px;
  font-size:14px;
}
#u12801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u12802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4C59F8;
}
#u12802 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:363px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4C59F8;
}
#u12803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12806 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:404px;
  width:44px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u12808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12808 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:429px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u12810 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:401px;
  width:70px;
  height:70px;
  text-align:left;
}
#u12811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12812 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:451px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12814 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:475px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:6px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12816 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:504px;
  width:372px;
  height:6px;
}
#u12817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u12818 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:352px;
  width:343px;
  height:1px;
}
#u12819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u12820 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:451px;
  width:25px;
  height:23px;
}
#u12821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u12822 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:265px;
  width:291px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u12823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u12824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(76, 89, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12824 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:542px;
  width:335px;
  height:40px;
  font-size:14px;
}
#u12825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:331px;
  word-wrap:break-word;
}
#u12826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:375px;
  height:180px;
  overflow:hidden;
}
#u12826_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12826_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:374px;
  height:171px;
  overflow:hidden;
  touch-action:pan-y;
}
#u12828_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:171px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12828_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:203px;
}
#u12829 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:372px;
  height:203px;
}
#u12830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12828_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:171px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12828_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:203px;
}
#u12831 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:372px;
  height:203px;
}
#u12832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12828_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:171px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12828_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:174px;
}
#u12833 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:372px;
  height:174px;
}
#u12834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:7px;
}
#u12835 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:130px;
  width:8px;
  height:7px;
}
#u12835_img.selected {
}
#u12835.selected {
}
#u12836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:7px;
}
#u12837 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:130px;
  width:8px;
  height:7px;
}
#u12837_img.selected {
}
#u12837.selected {
}
#u12838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:7px;
}
#u12839 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:130px;
  width:8px;
  height:7px;
}
#u12839_img.selected {
}
#u12839.selected {
}
#u12840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12782_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:645px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12782_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:447px;
  height:719px;
  overflow:hidden;
}
#u12841_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:719px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12841_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u12842 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:192px;
  width:119px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u12843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u12844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12844 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:227px;
  width:54px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u12846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12846 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:227px;
  width:44px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u12848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12848 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:227px;
  width:54px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u12850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12850 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:227px;
  width:54px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u12851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u12852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12853 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:190px;
  width:110px;
  height:24px;
  font-size:14px;
}
#u12854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u12855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12856 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:319px;
  width:15px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#3399FF;
}
#u12858 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:319px;
  width:46px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#3399FF;
}
#u12859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u12860 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:319px;
  width:81px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4C59F8;
}
#u12861 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:354px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4C59F8;
}
#u12862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12865 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:395px;
  width:44px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u12867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12867 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:420px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u12869 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:392px;
  width:70px;
  height:70px;
  text-align:left;
}
#u12870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12871 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:442px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12873 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:466px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:6px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12875 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:495px;
  width:372px;
  height:6px;
}
#u12876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u12877 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:343px;
  width:343px;
  height:1px;
}
#u12878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u12879 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:439px;
  width:25px;
  height:23px;
}
#u12880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u12881 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:256px;
  width:291px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u12882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u12883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4C59F8;
}
#u12885 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:515px;
  width:130px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4C59F8;
}
#u12886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u12887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12888 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:562px;
  width:44px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u12890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12890 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:587px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u12892 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:559px;
  width:70px;
  height:70px;
  text-align:left;
}
#u12893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12894 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:609px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12896 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:633px;
  width:356px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u12898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:607px;
  width:25px;
  height:23px;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:661px;
  width:372px;
  height:2px;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:190px;
  width:72px;
  height:22px;
  font-size:14px;
}
#u12903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:68px;
  word-wrap:break-word;
}
#u12904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:375px;
  height:180px;
  overflow:hidden;
}
#u12904_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12904_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:374px;
  height:171px;
  overflow:hidden;
  touch-action:pan-y;
}
#u12906_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:171px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12906_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:203px;
}
#u12907 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:372px;
  height:203px;
}
#u12908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12906_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:171px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12906_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:203px;
}
#u12909 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:372px;
  height:203px;
}
#u12910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12906_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:171px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12906_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:174px;
}
#u12911 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:372px;
  height:174px;
}
#u12912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:7px;
}
#u12913 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:130px;
  width:8px;
  height:7px;
}
#u12913_img.selected {
}
#u12913.selected {
}
#u12914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:7px;
}
#u12915 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:130px;
  width:8px;
  height:7px;
}
#u12915_img.selected {
}
#u12915.selected {
}
#u12916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:7px;
}
#u12917 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:130px;
  width:8px;
  height:7px;
}
#u12917_img.selected {
}
#u12917.selected {
}
#u12918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u12920 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:32px;
  width:393px;
  height:1px;
}
#u12921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u12922 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:0px;
  width:388px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u12923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:384px;
  word-wrap:break-word;
}
#u12924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12924 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:3px;
  width:24px;
  height:24px;
}
#u12925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12926 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:4px;
  width:24px;
  height:24px;
}
#u12927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.87843137254902);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12928 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:217px;
  width:228px;
  height:50px;
  font-size:14px;
}
#u12929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:224px;
  word-wrap:break-word;
}
