.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._形状 {
}
.image {
}
.placeholder {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._文本段落1 {
  text-align:left;
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._图片 {
  color:#000000;
}
._形状1 {
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.image1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.droplist {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.box_1 {
}
.ellipse {
}
.icon {
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
.box_3 {
}
.button {
}
.box_2 {
}
.primary_button {
  color:#FFFFFF;
}
._形状2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._图片1 {
}
._图片2 {
}
.icon1 {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
.box_31 {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
.line1 {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#333333;
}
.text_field {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.button1 {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
.primary_button1 {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
._默认样式 {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
.shape1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.label1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.box_11 {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
._文本 {
  text-align:left;
}
._图像 {
}
._默认样式1 {
}
.horizontal_line {
}
.hint_text {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.checkbox {
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
._连接符 {
}
._图片_ {
  color:#000000;
}
._水平线 {
}
._垂直线 {
}
.flow_shape {
}
._图片3 {
  color:#000000;
}
