body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27633 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:425px;
  height:725px;
  overflow:hidden;
}
#u27633_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:725px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u27633_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:644px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:644px;
}
#u27635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:644px;
  overflow:hidden;
}
#u27636_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:644px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27636_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:644px;
  overflow:hidden;
}
#u27637_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:644px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u27637_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:1450px;
}
#u27638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:1450px;
}
#u27639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:717px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27640 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:802px;
  width:129px;
  height:34px;
  color:#FFFFFF;
}
#u27641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u27642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27642 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:1031px;
  width:129px;
  height:34px;
  color:#FFFFFF;
}
#u27643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u27644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u27644 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:15px;
  width:22px;
  height:18px;
}
#u27645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(51, 51, 51, 0.349019607843137);
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u27647 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:161px;
  width:305px;
  height:320px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u27648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u27649 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:173px;
  width:44px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u27650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u27651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u27651 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:175px;
  width:129px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u27652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u27653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u27653 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:200px;
  width:305px;
  height:1px;
}
#u27654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:206px;
}
#u27655 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:249px;
  width:206px;
  height:206px;
}
#u27656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:95px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u27657 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:211px;
  width:218px;
  height:28px;
  font-size:14px;
}
#u27658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:214px;
  word-wrap:break-word;
}
#u27659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u27659 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:175px;
  width:18px;
  height:18px;
}
#u27660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27661 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:168px;
  width:33px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
